@CHARSET "ISO-8859-1";

 
/*  * {
    border: 1px solid rgba(0, 0, 0, 0.3);
}  */

.tableEditTetrimino td {
	background-color: #00e6e6; 
	background-size: auto;
	height: 30px;
	width: 30px;
	font-size: 0px;
	padding: 0px;
}

.tableEditTetrimino table {
	width: auto;
	margin: 1px auto;
	border-collapse: separate;
    border-spacing: 2px 2px;
}

.tableEditTetrimino td a {
	display: block;
	height: 20px;
}